<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop.xsd
		">  
	
	<!-- 事件控制管理器 -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<!-- 通知 -->
	<tx:advice id="advice" transaction-manager="transactionManager">
	    <tx:attributes>
          <!--  oracle 则需要修改：propagation="REQUIRED" -->
	      <tx:method name="do*" read-only="false"/>
	      <tx:method name="add*" read-only="false"/>
	      <tx:method name="update*" read-only="false"/>
	      <tx:method name="save*" read-only="false"/>
	      <tx:method name="delete*" read-only="false"/>
	      <tx:method name="*" read-only="true"/>
	    </tx:attributes>
	</tx:advice>

	<aop:config>
		<aop:pointcut id="serviceMethod" expression="execution(* cn.itcast.erp.biz.impl.*.*(..))"/>
		<aop:advisor pointcut-ref="serviceMethod" advice-ref="advice" />
	</aop:config>
	
</beans>
	
